*.class

# Eclipse #
.metadata
**/bin/**
**/tmp/**
**/tmp/**/*

# Intellij #
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

# Build Files #
**/log/**
*.log
**/target/**
.gradle/**
**/build/**
**/bin/**
**/deploy/**

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
